{# {% extends "rango/base.html" %} #}
{% extends "rango/base_bootstrap.html" %}
{# {% load bootstrap_toolkit %} #}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title_block %}
    Add New Category
{% endblock title_block %}

{% block body_block %}
    <form id="category_form" method="post" action="{% url 'rango:add_category' %}">
        <h2 class="form-signin-heading">Add a Category</h2>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button class="btn btn-primary" type="submit" name="submi">{% bootstrap_icon "star" %}Create Category</button>
        {% endbuttons %}
    </form>
{% endblock body_block %}

