{# {% extends "rango/base.html" %} #}
{% extends "rango/base_bootstrap.html" %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock title_block %}

{% block body_block %}
<div>
    {% if category %}
        <h1>{{ category.name }}</h1>
            <div>
            <strong id="like_count">{{ category.likes }}</strong> people like this category
            {% if user.is_authenticated %}
                <button id="likes" data-catid="{{category.id}}" class="btn btn-primary btn-sm" type="button">
                    Like
                </button>
            {% endif %}
            </div>

        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in cateory.</strong>
        {% endif %}
        
        
    {% else %}
    <p>The specified category does not exist!</p>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'rango:add_page' category.slug %}">Add Page</a>    
    {% endif %}
</div>
{% endblock body_block %}
