{# {% extends "rango/base.html" %} #}
{% extends "rango/base_bootstrap.html" %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock title_block %}

{% block body_block %}
    

    <div class="jumbotron">
         <h1 class="display-3">Rango says...</h1>
        {% if user.is_authenticated %}
            <h1>Howdy {{ user.username }}</h1>
        {% else %}
            <h1>Hey there partner!</h1>
        {% endif %}
    </div>

<div class="row marketing">
    <div class="col-lg-6">
    <h4>Most Liked Categories</h4>
    <p>
        {% if categories %}
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item"><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </p>
    </div>

    <div class="col-lg-6">
        <h4>Most Viewed Pages</h4>
        <p>
            {% if pages %}
            <ul class="list-group">
                {% for page in pages %}
                    <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no pages in present.</strong>
            {% endif %}
        </p>

    </div>

</div>

    <p>Visits: {{ visits }}</p>
    <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango">
{% endblock body_block %}